                <div class="m-3">
                    {% if today_obj %}
                        <h2>Today <small>{{ today_date|date:"D d F" }}</small></h2>
                    {% elif next7days_obj %}
                        <h2>Next 7 days</h2>
                    {% endif %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Project</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if overdue_tasks %}
                            {% for task in overdue_tasks %}
                                <tr>
                                    <td>
                                        <b style="color: red;">!!!</b>
                                        <div class="priority-square" style="background:{% if task.priority == 1 %}red{% elif task.priority == 2 %}orange{% elif task.priority == 3 %}white{% endif %}"></div>
                                        {{ task.name }}
                                    </td>
                                    <td>
                                        {{ task.project }}
                                        <div class="project-circle" style="background: {{ task.project.colour }}"></div>


                                      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                      </button>
                                      <div class="dropdown-menu">

                                          <!--<a class="dropdown-item" href="{# {{ task.get_update_url }} #}">Edit</a>-->
                                          <a class="dropdown-item" href="{% url 'task_update_url' id=task.id redirect_url=redirect_url %}">Edit</a>

                                          <!--<form action="{# {{ task.get_delete_url }} #}" method="post">-->
                                          <form action="{% url 'task_delete_url' id=task.id redirect_url=redirect_url %}" method="post">
                                              {% csrf_token %}
                                            <button class="dropdown-item" type="submit">Delete</button>
                                          </form>

                                          <!--<form action="{# {{ task.get_done_url }} #}" method="post">-->
                                          <form action="{% url 'task_done_url' id=task.id redirect_url=redirect_url %}" method="post">
                                              {% csrf_token %}
                                            <button class="dropdown-item" type="submit">Done</button>
                                          </form>

                                      </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}

                        {% if tasks %}
                            {% for task in tasks %}
                                <tr>
                                    <td>
                                        <div class="priority-square" style="background:{% if task.priority == 1 %}red{% elif task.priority == 2 %}orange{% elif task.priority == 3 %}white{% endif %}"></div>
                                        {{ task.name }}
                                    </td>
                                    <td>
                                        {{ task.project }}
                                        <div class="project-circle" style="background: {{ task.project.colour }}"></div>


                                  <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Toggle Dropdown</span>
                                  </button>
                                  <div class="dropdown-menu">

                                      <!--<a class="dropdown-item" href="{# {{ task.get_update_url }} #}">Edit</a>-->
                                        <a class="dropdown-item" href="{% url 'task_update_url' id=task.id redirect_url=redirect_url %}">Edit</a>
                                      <!--<form action="{# {{ task.get_delete_url }} #}" method="post">-->
                                      <form action="{% url 'task_delete_url' id=task.id redirect_url=redirect_url %}" method="post">
                                          {% csrf_token %}
                                        <button class="dropdown-item" type="submit" name="task_delete_submit">Delete</button>
                                      </form>

                                      <!--<form action="{# {{ task.get_done_url }} #}" method="post">-->
                                      <form action="{% url 'task_done_url' id=task.id redirect_url=redirect_url %}" method="post">
                                          {% csrf_token %}
                                        <button class="dropdown-item" type="submit" name="task_done_submit">Done</button>
                                      </form>

                                  </div>

                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    {% if today_obj or next7days_obj %}
                        <p class="a-add-task"><strong>+Add task</strong></p>

                        <form class="task-form" method="post">
                                {% csrf_token %}
                                <div>
                                    {% for field in task_form %}
                                        {{ field }}
                                    {% endfor %}
                                </div>
                                <button class="btn btn-primary prjct-frm-btn" type="submit" name="task_create_submit">Add</button>
                                <p class="task-frm-btn">Cancel</p>
                        </form>

                        {% if task_form.errors %}
                            <div class="alert alert-danger">
                                {% for field in task_form %}
                                    {% if field.errors %}
                                        {{ field.errors }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <div class="alert alert-danger">{{ message }}</div>
                                {% else %}
                                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endif %}

                </div>