                <div class="m-3">
                    <h2>Archive</h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Project</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>
                                    <div class="priority-square" style="background:{% if task.priority == 1 %}red{% elif task.priority == 2 %}orange{% elif task.priority == 3 %}white{% endif %}"></div>
                                    {{ task.name }}
                                </td>
                                <td>
                                    {{ task.project }}
                                    <div class="project-circle" style="background: {{ task.project.colour }}"></div>


                                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <form action="{% url 'task_delete_url' id=task.id redirect_url=redirect_url %}" method="post">
                                            {% csrf_token %}
                                            <button class="dropdown-item" type="submit">Delete</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}

                </div>

