                <div class="m-4">
                    <a href="{% url 'today_url' %}" class="{% if today_obj %}btn-success selected{% endif %}"><strong>Today</strong></a>
                    <a href="{% url 'next7days_url' %}" class="mt-1 {% if next7days_obj %}btn-success selected{% endif %}"><strong>Next 7 days</strong></a>
                    <br>
                    <p style='text-decoration:underline;'><strong>Projects ({{ projects.count }})</strong></p>
                    {% for project in projects %}
                        <div>
                            <div class="project-circle" style="background: {{ project.colour }}"></div>
                            <a href="{{ project.get_absolute_url }}" class="d-inline">{{ project.name }} </a>
                            <b>({{ project.task_set.count }})</b>

                          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu">
                              <a class="dropdown-item" href="{{ project.get_update_url }}">Edit</a>
                              <form action="{{ project.get_delete_url }}" method="post">
                                  {% csrf_token %}
                                  <button class="dropdown-item" type="submit">Delete</button>
                              </form>
                          </div>

                        </div>
                    {% endfor %}

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'error' %}
                                <div class="alert alert-danger">{{ message }}</div>
                            {% else %}
                                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <p class="a-add-prjct"><strong>+Add project</strong></p>

                    <form class="prjct-form" action="{% url 'create_project_url' %}" method="post">
                        {% csrf_token %}
                        <div>
                            {% for field in project_form %}
                            {{ field }}
                            {% endfor %}
                        </div>
                        <button class="btn btn-primary prjct-frm-btn" type="submit">Add</button>
                        <p class="prjct-frm-btn">Cancel</p>
                    </form>
                </div>