                <div class="m-4">
                    <p style='text-decoration:underline;'><strong>Project</strong></p>
                        <div>
                            <div class="project-circle" style="background: {{ project.colour }}"></div>
                            <p class="d-inline">{{ project.name }} </p>
                            <b>({{ project.task_set.count }})</b>
                        </div>

                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                    {% endif %}

                </div>