                <div class="m-4">
                    <a href="{% url 'today_url' %}" class="{% if today_obj %}btn btn-info{% endif %}"><strong>Today</strong> {% if today_obj %}<b>({{ tasks.count }})</b>{% endif %}</a>
                    <a href="{% url 'next7days_url' %}" class="mt-1 {% if next7days_obj %}btn btn-info{% endif %}"><strong>Next 7 days</strong> {% if next7days_obj %}({{ tasks.count }}){% endif %}</a>
                    <p class="mt-2" style='text-decoration:underline;'><strong>Projects</strong></p>
                    {% for project in projects %}
                        <div>
                            <div class="project-circle" style="background: {{ project.colour }}"></div>
                            <a href="{{ project.get_absolute_url }}" class="d-inline {% if project.slug == slug %}btn btn-info{% endif %}">{{ project.name }} {% if today_obj or next7days_obj %}<b>({{ tasks_counted|get_item:project.name }})</b>{% endif %}</a>
                          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu">
                              <!--<a class="dropdown-item" href="{# {{ project.get_update_url }} #}">Edit</a>-->
                              <a class="dropdown-item" href="{% url 'project_update_url' slug=project.slug redirect_url=redirect_url %}">Edit</a>
                              <form action="{% url 'project_delete_url' slug=project.slug redirect_url=redirect_url %}" method="post">
                                  {% csrf_token %}
                                  <button class="dropdown-item" type="submit" name="project_delete_submit">Delete</button>
                              </form>
                          </div>

                        </div>
                    {% endfor %}
                    {% if today_obj or next7days_obj %}
                        <p class="a-add-prjct"><strong>+Add project</strong></p>

                        <form class="prjct-form" method="post">
                            {% csrf_token %}
                            <div>
                                {% for field in project_form %}
                                    {{ field }}
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary prjct-frm-btn" type="submit" name="project_create_submit">Add</button>
                            <p class="prjct-frm-btn">Cancel</p>
                        </form>
                            {% if project_form.errors %}
                                <div class="alert alert-danger">
                                    {% for field in project_form %}
                                        {% if field.errors %}
                                            {{ field.errors }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                    {% endif %}
                </div>