{% extends 'base.html'%}

{% block title %}
    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row b-height">
            <div class="col-sm-3 text-left" id="left-block">

                <div class="m-4">
                    <a href="" class="btn-success selected"><strong>Today</strong></a>
                    <a href="" class="mt-1"><strong>Next 7 days</strong></a>
                    <br>
                    <p style='text-decoration:underline;'><strong>Projects ({{ projects.count }})</strong></p>
                    {% for project in projects %}
                    <div>
                        <div class="project-circle" style="background: {{ project.colour }}"></div>
                        {{ project.name }}
                        <b>({{ project.task_set.count }})</b>

                      <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                          <a class="dropdown-item" href="#">Edit</a>
                          <a class="dropdown-item" href="#">Delete</a>
                      </div>

                    </div>
                    {% endfor %}
                    <p class="a-add-prjct"><strong>+Add project</strong></p>

                    <form class="prjct-form" action="{% url 'create_project_url' %}" method="post">
                        {% csrf_token %}
                        <div>
                                    {% for field in project_form %}
                                        {{ field }}
                                    {% endfor %}
                        </div>
                        <button class="btn btn-primary prjct-frm-btn" type="submit">Add</button>
                        <p class="prjct-frm-btn">Cancel</p>
                    </form>

                </div>
            </div>

            <div class="col-sm-6" id="center-block">
                <div class="m-3">
                    <h2>Today <small>{{ today_date|date:"D d F" }}</small></h2>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Task</th>
                            <th scope="col">Project</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>
                                    <div class="priority-square" style="background: {{ task.priority }}"></div>
                                    {{ task.name }}
                                </td>
                                <td>
                                    {{ task.project }}
                                    <div class="project-circle" style="background: {{ task.project.colour }}"></div>


                              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                              <div class="dropdown-menu">
                                  <a class="dropdown-item" href="#">Edit</a>
                                  <a class="dropdown-item" href="#">Delete</a>
                              </div>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <p class="a-add-task"><strong>+Add task</strong></p>

                    <form class="task-form" action="{% url 'create_task_url' %}" method="post" style="display: none;">
                        {% csrf_token %}
                        <div>
                            {% for field in task_form %}
                                {{ field }}
                            {% endfor %}
                        </div>
                        <button class="btn btn-primary prjct-frm-btn" type="submit">Add</button>
                        <p class="task-frm-btn">Cancel</p>
                    </form>

                </div>
            </div>
            <div class="col-sm-3" id="right-block">

            </div>
        </div>
    </div>
{% endblock %}

