.b-height{
	height: calc(100vh - 56px);
	}
			
a{
	display: block;
	}

#left-block, #right-block {
	background: #d9d9d9;
}

.prjct-frm-btn, .task-frm-btn {
	display: inline-block;
}

.prjct-form {
	display: none;
}

.prjct-form div {
	display: flex;
}

.task-form div {
	display: flex;
}

.prjct-form input[type="color"] {
	width: 50px;
}

.prjct-form input[type="text"] {
	width: 50%;
}


.task-form input[name="name"] {
	width: 40%;
}
.task-form select[name="priority"], .task-form select[name="project"] {
	width: 15%;
}
.task-form input[name="date_until"] {
	width: 20%;
}


.a-add-prjct, .a-add-task {
	color: red;

}
.a-add-prjct:hover, .a-add-task:hover, .prjct-frm-btn:hover, .task-frm-btn:hover {
	cursor: pointer;
	text-decoration: underline;
	display: inline;
}

.selected {
	border-radius: 15%;
	border: 2px black solid;
	display: inline-block;
}

.priority-square {
	width: 15px;
	height: 15px;
	display: inline-block;
	border: 1px solid black;
}

.project-circle {
	width: 15px;
	height: 15px;
	display: inline-block;
	border: 1px solid black;
	border-radius: 100%;
}