.b-height{
	height: calc(100vh - 56px);
	}
			
a{
	display: block;
	}

#left-block, #right-block {
	background: #d9d9d9;
}

.prjct-frm-btn, .task-frm-btn {
	display: inline-block;
}

.prjct-form {
	display: none;
}

.prjct-form div {
	display: flex;
}

.task-form div {
	display: flex;
}

.prjct-form input[type="color"] {
	width: 50px;
}

.prjct-form input[type="text"], .task-form input[type="text"] {
	width: 50%;
}

.task-form input[type="datetime-local"] {
	width: 25%;
}

.a-add-prjct, .a-add-task {
	color: red;

}
.a-add-prjct:hover, .a-add-task:hover, .prjct-frm-btn:hover, .task-frm-btn:hover {
	cursor: pointer;
	text-decoration: underline;
	display: inline;
}

.selected {
	border-radius: 15%;
	border: 2px black solid;
	display: inline-block;
}
